<header id="cover">
  <img src="../../../assets/image/bannière.jpg" alt="bannière">
</header>
<h1>Votre commande</h1>

<div class="container">

<div id="mainContent"
fxLayout="row"
fxLayoutAlign="center center"
fxLayoutGap="50px"
fxLayout.xs="column">
<div id="visuPanier">
    <h3>Panier</h3>
    <div id="choices">
      <p>Espace des commandes</p>
    </div>
  </div>

  <div id="infosLivraison">
    <h3>Adresse de livraison</h3>
    <form>
      <mat-form-field>
      <input matInput placeholder="Rue" value="">
      </mat-form-field>
      <mat-form-field class="adresseInput">
      <input matInput placeholder="N°" value="">
      </mat-form-field>
      <mat-form-field>
      <input matInput placeholder="Boite" value="">
      </mat-form-field>
      <mat-form-field class="adresseInput">
      <input matInput placeholder="Code postal" value="">
      </mat-form-field>
      <mat-form-field>
      <input matInput placeholder="Ville" value="">
      </mat-form-field>
      <mat-form-field class="adresseInput">
      <input matInput placeholder="Pays" value="">
      </mat-form-field>
      <mat-form-field>
      <input matInput placeholder="Numéro de contact" value="">
      </mat-form-field>
    </form>
  </div>
  
  </div>




  
</div>


<a href="">
Confirmer et payer
</a>