<div class="couverture">
    <!-- <img src="../../../assets/image/test_couverture2.jpg" style="width: 100%; height: auto;" alt="page garde "> -->
    <h1>Commandez, créez et
        <br> partagez votre pizza. </h1>
</div>
<section id="delivery">
    <div id="deliveryInformations">
        <mat-form-field appearance="outline">
            <mat-label>Entrez votre code postal</mat-label>
            <input type="text" matInput placeholder="Votre code postal">
            <button mat-stroked-button>Soumettre</button>
        </mat-form-field>
    </div>
</section>
<section id="description">
    <p> </p>
    <div id="concept">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolorum perspiciatis! Minima in dolore, esse vitae
            similique praesentium, temporibus odit aspernatur eaque commodi quod porro nemo deleniti id voluptates. Blanditiis.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo tenetur repellat voluptates similique quis magni
            pariatur dolore vero voluptatum architecto fuga commodi cupiditate facilis delectus error est, unde provident
            reiciendis.
        </p>
    </div>
</section>


<section id="main">
    <mat-grid-list cols="2" rowHeight="50px" gutterSize="5px">
        <mat-grid-tile *ngFor='let tile of tiles' [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">{{tile.text}}</mat-grid-tile>
    </mat-grid-list>
</section>