<div class="container">
<header>
    <img src="" alt="">
    <ul>
    <li>Rue d'Havré, 18</li>
    <li>7000 - Mons (BE)</li>
    <li>065/57.66.41</li>
    </ul>
    
    <div id="concept">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolorum perspiciatis! Minima in dolore,
            esse vitae similique praesentium, temporibus odit aspernatur eaque commodi quod porro nemo deleniti id
            voluptates. Blanditiis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo tenetur repellat
            voluptates similique quis magni pariatur dolore vero voluptatum architecto fuga commodi cupiditate facilis
            delectus error est, unde provident reiciendis.</p>
    </div>
</header>

<section id="delivery">
<app-delivery></app-delivery>
</section>

<section id="main">
    <mat-grid-list cols="2" rowHeight="50px" gutterSize="5px">
        <mat-grid-tile *ngFor='let tile of tiles' [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">{{tile.text}}</mat-grid-tile>
    </mat-grid-list>
</section>
</div>


