
.container{
    margin : 0 auto 500px auto;
    header {
            #cover{
                width: 100%;
                height: auto;
                    }
            #concept{
                padding-bottom: 5px;
                margin: 0 100px;

                    #logowhite{
                        display: block;
                        width: 100px;
                        height: auto;
                        margin: 20px auto;
                    }
                    ul{
                    text-align: center;
                    font-weight: bold ;
                        }
                        p{
                            text-align: center;
                            margin: 0 auto;
                            padding: 10px;
                            // font-weight: bold;
                
                        }
                    }
    }

    #main{
        margin-bottom: 100px;

        h2{
            text-transform: uppercase;
        }

        a{
            background-color: rgb(58, 58, 58);
            display: block;
            width: 400px;
            text-decoration: none;
            text-align: center;
            color: white;
            padding: 20px;
            &:hover{
                background-color: lightgrey;
                transition: 0.5s;
                color: black;
            }
        }
        #mainContent{
            margin-top: 5px;
            .pizzas{
                background-color: lightgrey;
                width: 300px;
                height: 100px;
                //à changer en fonction des datas
                p{
                    text-align: center;
                }
            }
            
        }

    }
}

@media screen and (max-width: 601px){
    .container {
        margin: 50px 0 20px 0;
    }

}

