<div class="container">
    
    
    <header
    fxLayout="column" 
    fxLayout.xs="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="20px"
    fxLayoutGap.xs="0">

          <img id="cover" src= "../../../assets/image/bannière.jpg" alt="bannière"> 

        <div id="concept">
            <img id="logowhite" src="../../../assets/image/logo-blanc.png" alt="logo">
        <ul>
            <li>Rue d'Havré, 18</li>
            <li>7000 - Mons (BE)</li>
            <li>065/57.66.41</li>
        </ul>
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolorum perspiciatis! Minima in
                dolore,
                esse vitae similique praesentium, temporibus odit aspernatur eaque commodi quod porro nemo deleniti id
                voluptates. Blanditiis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo tenetur repellat
                voluptates similique quis magni pariatur dolore vero voluptatum architecto fuga commodi cupiditate
                facilis
                delectus error est, unde provident reiciendis.</p>
        </div>

   
    </header>


    <section id="delivery">
        <app-delivery></app-delivery>
    </section>

    <section id="main" 
    fxLayout="column" 
    fxLayout.xs="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="20px"
    fxLayoutGap.xs="0">

        <div id="creationButton">
            <h2><a href="">Atelier création</a></h2>
        </div>

        <div id="mainContent" 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutAlign="center center" 
        fxLayoutGap="20px"
        fxLayoutGap.xs="0">

            <div id="mainOur" 
            fxLayout="column" 
            fxLayoutAlign="center center">
                <h2> <a href="">Notre carte</a> </h2>
                <div class="pizzas"> <p>Espace pour les pizzas</p> </div>
            </div>

            <div id="mainYour" 
            fxLayout="column" 
            fxLayoutAlign="center center">
                <h2> <a href="">Votre carte</a> </h2>
                <div class="pizzas"><p>Espace pour les pizzas</p></div>
            </div>
        </div>

    </section>





</div>