<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <H1>Dragon</H1>
  <h2>{{title}}</h2>


  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci perspiciatis dolores officiis nemo et eveniet,
  cumque hic voluptatibus ullam. Provident debitis, sapiente modi esse rerum et dolorem architecto sint dolor.

</body>

</html>