<footer>

  <div id="social">
    <div id="instagram">
      <a href="https://www.instagram.com/?hl=fr">
        <img src="../../assets/image/logo Instagram.svg"  alt="logo social">
      </a>
    </div>


    <div id="facebook">
      <a href="https://www.facebook.com/">
        <img src="../../assets/image/facebook.svg" alt="logo social">
      </a>
    </div>
  </div>

  <p id="copyright">©2018 Big Team VDM</p>

  <div id="footerContact">
    <p>067/57.66.41</p>
    <p>info@pizza.yolo</p>
    <p>18 rue d'Havré 7000 mons</p>
  </div>

</footer>