

footer{
    font-family: 'Maven Pro', sans-serif;
    
    background-color: rgb(58, 58, 58);

color: white;
display: flex;
justify-content: space-between;
padding:0 10px;

align-items: center;
    a:hover {
        opacity: 0.8;

    }
}
#copyright {
font-size: 10px;

}

#footerContact {
font-size: 10px;
text-align: end;
    
}