

footer{
     position: fixed;
     bottom: 0;
     width: 100%;
     background-color: rgb(58, 58, 58);
    color: white;
    display: flex;
    justify-content: space-between;
    padding:0 10px;
    align-items: center;
    #social{
        display: flex;

         #instagram {
            width: 52px;
            height: auto;
            a{
                &:hover{
                     opacity: 0.8;
                }
            }
        }
        #facebook{
            padding-top: 8px;
            width: 35px; 
            height: auto;
            a{
                &:hover{
                     opacity: 0.8;
                }
            }
        }

    }

    #copyright {
        font-size: 10px;
        padding-left: 5em;
}

    #footerContact {
        font-size: 10px;
        text-align: end;
    
}

}


