footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(58, 58, 58);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 5px 5px 1em 5px;
    align-items: center;
    li {
        margin: 0;
        padding-bottom: 5px;
        list-style: none;
    }

    #social{
        display: flex;
         #instagram {
            width: 52px;
            height: auto;
            a{
                &:hover{
                     opacity: 0.8;
                }
            }
        }
        #facebook{
            padding-top: 8px;
            width: 35px; 
            height: auto;
            a{
                &:hover{
                     opacity: 0.8;
                }
            }
        }
    }
    #copyright {
        font-size: 10px;
        padding-left: 5em;
}
    #footerContact {
        font-size: 10px;
        text-align: end;
        padding-right: 20px;
}

}


