<footer>

  <div id="social">
    <div id="instagram">
      <a href="https://www.instagram.com/?hl=fr">
        <img src="../../assets/image/logo Instagram.svg"  alt="logo social">
      </a>
    </div>


    <div id="facebook">
      <a href="https://www.facebook.com/">
        <img src="../../assets/image/facebook.svg" alt="logo social">
      </a>
    </div>
  </div>

  <p id="copyright">©2018 Big Team VDM</p>

  <div id="footerContact">
    <ul>
    <li>067/57.66.41</li>
    <li>info@pizza.yolo</li>
    <li>Rue d'Havré, 18</li>
    <li>7000 - Mons (BE)</li>
     </ul>
  </div>

</footer>