<footer>


  <div class="social" style="display: flex">
    <div class="instagram">
      <a href="https://www.instagram.com/?hl=fr">
        <img src="../../assets/image/logo Instagram.svg" style="width: 52px; height: auto;" alt="logo social">
      </a>
    </div>


    <div class="facebook" style="padding-top: 8px">
      <a href="https://www.facebook.com/">
        <img src="../../assets/image/facebook.svg" style="width: 35px; height: auto;" alt="logo social">
      </a>
    </div>
  </div>

  <p id="copyright">©2018 Big Team VDM</p>
  <div id="footerContact">
    <p>067/57.66.41</p>
    <p>info@pizza.yolo</p>
    <p>18 rue d'Havré 7000 mons</p>
  </div>
</footer>