<mat-sidenav-container class="sidenav-container">

  <mat-sidenav 
  #drawer 
  class="sidenav" 
  [ngClass]="{hidden: !(isHandset$ | async)}" 
  fixedInViewport="false" 
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'" 
  [opened]="!(isHandset$ | async)">
  <mat-toolbar color="primary" id="sideMenu">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/aboutUs']" routerLinkActive="active">Présentation</a>
      <a mat-list-item [routerLink]="['/creationPizza']" routerLinkActive="active">Atelier création</a>
      <a mat-list-item [routerLink]="['/ourCarte']" routerLinkActive="active">Notre carte</a>
      <a mat-list-item [routerLink]="['/yourCarte']" routerLinkActive="active">Votre carte</a>
      <a mat-list-item [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
      <a mat-list-item [routerLink]="['/panier']" routerLinkActive="active">Panier</a>
      <a mat-list-item class="test" [routerLink]="['/createProfil']" routerLinkActive="active">S'inscrire</a>
      <a mat-list-item [routerLink]="['/editProfil']" routerLinkActive="active">Mon profil</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button 
      type="button" 
      aria-label="Toggle sidenav" 
      mat-icon-button (click)="drawer.toggle()" 
      *ngIf="isHandset$ | async">
<i class="fas fa-bars" id="hamburger"></i> </button>

      <div class="logo">
        <a [routerLink]="['/homePage']" routerLinkActive="active">
          <img src="../../assets/image/logo-blanc.png" style="width: 90px; height: auto; padding-top: 10px;" alt="logo menu">
        </a>
      </div>

      <span class="spacer"></span>

      <div id="linkVisible">
        <a mat-list-item [routerLink]="['/aboutUs']" routerLinkActive="active">Présentation</a>
        <a mat-list-item [routerLink]="['/creationPizza']" routerLinkActive="active">Atelier création</a>
        <a mat-list-item [routerLink]="['/ourCarte']" routerLinkActive="active">Notre carte</a>
        <a mat-list-item [routerLink]="['/yourCarte']" routerLinkActive="active">Votre carte</a>
        <a mat-list-item [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
   <button *ngIf="!this.apiService.loggedIn" class="button-ap" mat-button [matMenuTriggerFor]="menu">
      <img src="../../assets/image/avatar-full-blanc.png" style="width: 25px; height: auto; padding-bottom: 5px;" alt="logo avatar">
    </button>
    <button *ngIf="this.apiService.loggedIn" class="button-ap" mat-button [matMenuTriggerFor]="menu">
      <img src="../../assets/image/avatar-blanc.png" style="width: 25px; height: auto; padding-bottom: 5px;" alt="logo avatar">
    </button>
    <button class="button-ap" mat-menu-item>
      <a [routerLink]="['/panier']" routerLinkActive="active">
        <img src="../../assets/image/chariot.png" style=" width: 25px; height: auto; padding-top: 14px;" alt="logo panier">
      </a>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!this.apiService.loggedIn" mat-menu-item>
        <a class="test" [routerLink]="['/login']" routerLinkActive="active">Se connecter</a>
      </button>
      <button *ngIf="!this.apiService.loggedIn" mat-menu-item>
        <a class="test" [routerLink]="['/createProfil']" routerLinkActive="active">S'inscrire</a>
      </button>
      <button *ngIf="!this.apiService.loggedIn" mat-menu-item>
        <a class="test" [routerLink]="['/login']" routerLinkActive="active">Mon profil</a>
      </button>
      <button *ngIf="this.apiService.loggedIn" mat-menu-item>
        <a class="test" [routerLink]="['/editProfil']" routerLinkActive="active">Modifier profil</a>
      </button>
      <button *ngIf="this.apiService.loggedIn" mat-menu-item>
        <a class="test" (click)="onLogout($event)">Se déconnecter</a>
      </button>
    </mat-menu> 
      </div>
    </mat-toolbar>
    <!-- CONTENU DU SITE CI DESSOUS -->
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- BUG QUAND JE METS AVEC LES NGIF DONC JE LAISSE ICI EN ATTENDANT D'AVOIR LE BACK -->
<!-- 
  <button *ngIf="!this.apiService.loggedIn" class="button-ap" mat-button [matMenuTriggerFor]="menu">
      <img src="../../assets/image/avatar-full-blanc.png" style="width: 25px; height: auto; padding-bottom: 5px;" alt="logo avatar">
    </button>
    <button *ngIf="this.apiService.loggedIn" class="button-ap" mat-button [matMenuTriggerFor]="menu">
      <img src="../../assets/image/avatar-blanc.png" style="width: 25px; height: auto; padding-bottom: 5px;" alt="logo avatar">
    </button>
    <button class="button-ap" mat-menu-item>
      <a [routerLink]="['/panier']" routerLinkActive="active">
        <img src="../../assets/image/chariot.png" style=" width: 25px; height: auto; padding-top: 14px;" alt="logo panier">
      </a>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!this.apiService.loggedIn" mat-menu-item>
        <a class="test" [routerLink]="['/login']" routerLinkActive="active">Se connecter</a>
      </button>
      <button *ngIf="!this.apiService.loggedIn" mat-menu-item>
        <a class="test" [routerLink]="['/createProfil']" routerLinkActive="active">S'inscrire</a>
      </button>
      <button *ngIf="!this.apiService.loggedIn" mat-menu-item>
        <a class="test" [routerLink]="['/login']" routerLinkActive="active">Mon profil</a>
      </button>
      <button *ngIf="this.apiService.loggedIn" mat-menu-item>
        <a class="test" [routerLink]="['/editProfil']" routerLinkActive="active">Modifier profil</a>
      </button>
      <button *ngIf="this.apiService.loggedIn" mat-menu-item>
        <a class="test" (click)="onLogout($event)">Se déconnecter</a>
      </button>
    </mat-menu> 
    -->