<div class="container">

  <h1>Nous contacter</h1>

  <mat-form-field>
    <input matInput placeholder="Prénom">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nom">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Votre adresse e-mail" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Votre message"></textarea>
  </mat-form-field>
  <button mat-stroked-button>Envoyer</button>

</div>