<div id="container">
    <div id="enTete">
        <h1>Créez votre pizza ! </h1>
        <h2>Base = 5€</h2>
        <h3>Sélectionnez les ingrédients que vous souhaitez mettre sur votre pizza</h3>
        <h3>Nous vous aidons à choisir grâce aux suggestions affichées sur la droite, n'hésitez donc pas à vous en inspirer
            !
        </h3>
    </div>
    <mat-grid-list cols="5" class="selectionIngredients">
        <h4>Ingrédients sélectionné(s):</h4>
        <p id="ingredientsSelected"></p>
    </mat-grid-list>
    <br>
    <mat-grid-list cols="4" rowHeight="6:1">
        <section class="base">
                Choisissez une base: <br>
            <mat-checkbox color="warn" 
                          (change)="OnChangeBase($event)" 
                          [(ngModel)]="IsCheckedT"
                          value="Coulis de tomate">
                Coulis de tomate
            </mat-checkbox>
            <mat-checkbox color="warn" 
                          (change)="OnChangeBase($event)"
                          [(ngModel)]="IsCheckedC"
                          value="Crème">
                Crème
            </mat-checkbox>
        </section>
        <mat-grid-tile class="ingredientsList" *ngFor="let ingredient of ingredients">
            <figure class="mat-figure">
                <mat-checkbox color="warn"
                              value="{{ingredient.name}}"
                              (change)="OnChange($event)">
                    {{ingredient.name}} - {{ingredient.price}}€
                </mat-checkbox>
            </figure>
        </mat-grid-tile>
    </mat-grid-list>
    <div id="panierSugg">
        <app-panier-flottant></app-panier-flottant>
        <div id="suggestion">
            <h2>Suggestions</h2>
            <div id="listSugg"></div>
        </div>
    </div>
</div>