.container{
    // margin: auto 100px;
    // height: 798px;
    // padding-top: 50px;
    // width: 960px;
    #top3{
        background-color: rgb(83, 83, 83);
        text-align: center;
    }

    #menu{
        background-color: lightgrey;
        text-align: center;
      
    }
}