.container{
    margin: auto 100px;
    height: 798px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    

    #titreVotreCarte{
        background-color: grey;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;

    }

    #top3{
        background-color: rgb(83, 83, 83);
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;

    }

    #menu{
        background-color: lightgrey;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #panier{
        background-color: rgb(199, 199, 199);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}