.container{
    // margin: auto 100px;
    // height: 798px;

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    .adresseInput
    {
        float: right;    
        }

}
}


