
.container{
    // margin: auto 100px;
    // height: 798px;
    // padding-top: 50px;
    // width: 960px;
    #carte{
        padding: 10px;
        background-color: lightblue;
        display: flex;
        justify-content: space-between;
        height: auto;
        #pizzaName{
            background-color: lightgrey;
                font-weight: bolder;
                font-size: 1.5em;
                width: 100%;
            }
            #ingredients{
                display: inline;
                margin-right: 9px;
                font-style: italic;
                font-weight: normal;
                font-size: 14px
            }
            .mat-flat-button{
                line-height: 30px;
                width: 80px;
                height: 30px;
                margin: auto 2%;
            }

        }
    }
    


        

    
