
.container{    
    margin: auto 100px;
    height: 798px;
    // display: grid;
    // grid-gap: 10px;
    // grid-template-columns: 1fr 1fr;
    

    #title{
        height: 50px;
        background-color: gray;
        text-align: center;
        // grid-column-start: 1;
        // grid-column-end: 2;

    }
    #menu{
        height: 500px;
        background-color: lightgrey;
        // grid-column-start: 1;
        // grid-column-end: 2;
    }
    #panier{
        background-color: lightpink;
        // grid-column-start: 2;
        // grid-column-end: 3;
        // grid-row-start: 1;
        // grid-row-end: 3;
    }
}