<h1>Notre carte</h1>


<div 
class="container" 
fxLayout="row" 
fxLayout.xs="column" 
fxLayoutGap="50px" 
fxLayoutGap.xs="10px" 
fxLayoutAlign="center center"
>


  <div id="content" >
  
    <div id="carte" *ngFor="let pizza of pizzas">
      <div id="pizzaName">
      {{pizza.name}}
        <br>
        <div id="ingredients" *ngFor="let ingredient of pizza.ingredients">
          {{ingredient.name}}
        </div>
    </div>

    <button mat-flat-button color="warn">+ {{pizza.price}} €</button>
    
  </div>
  
</div>

  <app-panier-flottant id="panier">
    <div id="suggestion"></div>
  </app-panier-flottant>