<h1>Notre carte</h1>


<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">

  <div id="content" fxFlex="70%">
  
    <div id="carte" *ngFor="let pizza of pizzas">
      <div id="pizzaName">
      {{pizza.name}}
      <br>
      <div id="ingredients" *ngFor="let ingredient of pizza.ingredients">
        {{ingredient.name}}</div>
    </div>

    <button mat-flat-button color="warn">+ {{pizza.price}} €</button>
    
  </div>

</div>

<app-panier-flottant id="panier" fxFlex="30%">
    <div id="suggestion"></div>
</app-panier-flottant>

</div>