<mat-toolbar>
  <div class="logo">
    <a [routerLink]="['/homePage']" routerLinkActive="active">
      <img src="../../assets/image/logo-blanc.png" style="width: 90px; height: auto;" alt="logo menu">
    </a>
  </div>
  <div class="option">
    <button mat-menu-item>
      <a [routerLink]="['/aboutUs']" routerLinkActive="active">Présentation</a>
    </button>
    <button mat-menu-item>
      <a [routerLink]="['/creationPizza']" routerLinkActive="active">Atelier création</a>
    </button>
    <button mat-menu-item>
      <a [routerLink]="['/ourCarte']" routerLinkActive="active">Notre carte</a>
    </button>
    <button mat-menu-item>
      <a [routerLink]="['/yourCarte']" routerLinkActive="active">Votre carte</a>
    </button>
    <button mat-menu-item>
      <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
    </button>
    <!-- ICON PROFIL -->
    <!-- <a [routerLink]="['/createProfil']" routerLinkActive="active">S'inscrire</a> -->
    <!-- <a [routerLink]="['/editProfil']" routerLinkActive="active">Mon profil</a> -->

    <button class="button-ap" mat-button [matMenuTriggerFor]="menu">
      <img src="../../assets/image/avatar-blanc.png" style="width: 25px; height: auto; padding-bottom: 5px;" alt="logo avatar">
    </button>
    <button class="button-ap" mat-menu-item>
      <a [routerLink]="['/panier']" routerLinkActive="active">
        <img src="../../assets/image/chariot.png" style=" width: 25px; height: auto; padding-top: 14px;" alt="logo panier">
      </a>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a class="test" [routerLink]="['/createProfil']" routerLinkActive="active">S'inscrire</a>
      </button>
      <button mat-menu-item>
        <a class="test" [routerLink]="['/editProfil']" routerLinkActive="active">Mon profil</a>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>